.code-search-bar {
  padding: 0 10px 10px 10px;
  #Form_CodeSearchForm {
    display: flex;
    align-items: center;
    align-content: center;
    fieldset {
      #Form_CodeSearchForm_keyword_Holder {
        label {
          display: none;
        }
        input {
          height: 50px;
          min-width: 320px;
          padding: 5px 10px;
          font-size: 22px;
        }
      }
    }
    .Actions {
      padding: 15px 30px;
    }
  }
}

.search-results-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 80vh;
  @media screen and (min-width: $break-medium) {
    flex-direction: column;
  }
  .result-item {
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid $c_samdog_blue;
    background-color: $c_lightcyan;
    max-width: 850px;
    h1 {
      font-size: 20px;
      margin-top: 0;
      color: $c_samdog_red;
    }
    .desc {
      //pre {
      //  display: block;
      //  padding: 9.5px;
      //  margin: 0 0 10px;
      //  font-size: 13px;
      //  line-height: 1.42857;
      //  word-break: break-all;
      //  word-wrap: break-word;
      //  color: #b1b1b1;
      //  background-color: #000000;
      //  border: 8px solid #fff;
      //  border-radius: 0;
      //}
    }
  }
}