.code-search-bar {
  padding: 0 10px 10px 10px;
  min-height: $code_search_bar_minHeight;
  #Form_CodeSearchForm {
    display: flex;
    align-items: center;
    align-content: center;
    fieldset {
      #Form_CodeSearchForm_keyword_Holder {
        label {
          display: none;
        }
        input {
          height: 50px;
          min-width: 320px;
          padding: 5px 10px;
          font-size: 22px;
        }
      }
    }
    .Actions {
      padding: 15px 30px;
    }
  }
}

.search-results-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  //height: 80vh;
  height: calc(100vh - #{$code_search_bar_minHeight + $nav_min_height + $nav_margin_bottom + $nav_border_thickness});
  @media screen and (min-width: $break-medium) {
    flex-direction: column;
  }
  .result-item {
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    border: 2px solid $c_samdog_blue;
    background-color: $c_results_background;
    max-width: 850px;
    overflow-y: scroll;
    h1 {
      font-size: 20px;
      margin-top: 0;
      display: flex;
      align-items: center;
      align-content: center;
      color: $c_samdog_green;
      span {
        padding-left:15px;
      }
    }
    .desc {
      color: #FFF;
      pre {
        border-radius: 0;
      }
    }
  }
}