.locationkeeper-nav {
  min-height: $nav_min_height;
  margin-bottom: $nav_margin_bottom;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-bottom: $nav_border;
  border-left: none;
  .navbar-header {

    .svg-key {
      margin-left: 10px;
      height: 40px;
      position: relative;
      top: 5px;
      fill: #000;
      transition: fill 0.5s ease;
      &:hover {
        fill:$c_samdog_red;
        cursor: pointer;
      }
    }

    .navbar-brand {
      padding: 0;
      img {
        height: 50px;
      }
    }
  }
}