html {
  font-family: $font_GustanLight;
}

body {
  font-family: $font_GustanLight;
}

h1 {
  font-family: $font_GustanLight;
}

h2 {
  font-family: $font_GustanLight;
}

h3 {
  font-family: $font_GustanLight;
}
h4{

}
p {
  font-family: $font_GustanLight;
}
a {
  color: $c_samdog_blue;
  &:hover {
    color: $c_samdog_green;
  }
  &:focus {
    outline: none;
  }
}
.navbar-default .navbar-nav > li > a {

}

.navbar-default {
  .navbar-nav {
    li {
      a {
        color: $c_samdog_blue;
        &:hover {
          color: $c_samdog_green;
        }
      }
    }
  }
}

.select2-container--default {
  width: 100% !important;
}

// SVG Icons
.edit-svg {
  height: 32px;
  fill: $c_samdog_orange;
}

input {
  border: 1px #000 solid;
  border-radius: 0;
  //height: 35px;
  padding: 10px;
  width: 100%;
  &:focus {
    outline: none;
  }
}

// Tiny MCE
.mce-content-body {
  margin: 20px;
}

.mce-container.mce-menubar.mce-toolbar.mce-stack-layout-item.mce-first {
  border-color: #000;
}

.mce-toolbar-grp.mce-container.mce-panel.mce-stack-layout-item {
  border-bottom: 1px #000 solid;
}

.mce-tinymce.mce-container.mce-panel {
  border: 1px #000 solid;
  border-radius: 0;
}

.mce-statusbar.mce-container.mce-panel.mce-stack-layout-item {
  border-color: #000;
}

// Select2 Tags
.select2-selection.select2-selection--multiple {
  border-radius: 0 !important;
  border: 1px solid #000 !important;
  .select2-selection__rendered {
    min-height: 40px !important;
    .select2-selection__choice {
      min-height: 34px !important;
      height: 34px !important;
      padding: 6px 20px 6px 10px !important;
      margin: 6px 0 6px 10px !important;
      font-size: 18px;
      display: flex;
      align-items: center;
    }
  }
}

.close {
  opacity: 1;
  z-index: 100;
  position: absolute;
  right: 0;
  top:0;
  .svg-cross {
    height: 36px;
    padding: 5px;
    fill: #000;
  }
  &:hover {
    opacity: 1;
    .svg-cross {
      fill:$c_samdog_red;
    }
  }
  &:focus {
    outline: none;
  }
}

.modal-dialog {
  .modal-content {
    border-radius: 0;
  }
}