// Samdog colors
$c_samdog_green: #66AD28;
$c_samdog_orange: #fbbc40;
$c_samdog_blue: #4da7ca;
$c_samdog_red:#f0523f;

// Font-families
$font_GustanExtraBlack: GustanExtraBlack;
$font_GustanLight: GustanLight;
$font_GustanMedium: GustanMedium;
$font_GustanMediumD: GustanMediumD;
$font_GustanBold: GustanBold;